@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #03070f;
  --foreground: #ffffff;
  --primary: #004be0;
  --secondary: #232844;
  --font-family: "Bricolage Grotesque", sans-serif;
  --white: #ffffff;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

body {
  font-family: var(--font-family);
  font-size: 16px; 
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-line {
  display: flex;
  animation: marquee 100s linear infinite;
  width: fit-content;
  will-change: transform;
  overflow: hidden;
}

.marquee-line-reverse {
  display: flex;
  animation: marquee-reverse 200s linear infinite;
  width: fit-content;
  will-change: transform;
  overflow: hidden;
}

/* Blob Animation */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
