@import "tailwindcss";

:root {
      --background: #03070f;
      --foreground: #ffffff;
      --primary: #004be0;
      --secondary: #232844;
      --font-family: "Bricolage Grotesque", sans-serif;
      --white: #ffffff
}

body {
  font-family: var(--font-family);
  font-size: 16px; 
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}